

:root {
    --primary-color: hsl(47, 88%, 63%);
    --secondary-color: hsl(0, 0%, 100%);
    --light-grey: hsl(0, 0%, 42%);
    --dark-grey:hsl(0, 0%, 7%)

    --font-family: 'Arial, sans-serif';
}

.main_container{
   background-color: var(--primary-color);
   min-height: 100vh; /* 100% of the viewport height */
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card{
    background-color: var(--secondary-color);
    max-width:  24rem;
    border-radius: 20px;
    padding: 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    
}

.card:hover {

    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
  }
  
  .card:hover .title {
    color: hsl(47, 88%, 63%); 
    cursor: pointer;
  }
.card_img_box img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.badge {
    background-color: var(--primary-color);
    color: var(--dark-grey);
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 0.75rem; 
  }
  
.title {
    font-size: 1.5rem;
    color: var(--dark-grey);
    font-weight: 800;  
    margin-bottom: 0.75rem; 
}

.date{
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.75rem; 
}

.description {
    color : var(--light-grey);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.user_name {
    color: var(--dark-grey);
    font-size: 0.875rem;
    font-weight: 800;
}

.user_block{
    display: flex;
    align-items: center; /* vertically center */
    gap: 12px; 
}